.sidebar-lat {
    background-color: rgba(200, 200, 200, 0.5);
    padding: 20px;
  }
  
  .flex {
    align-items: center; /* Alinear verticalmente los elementos del contenedor */
  }
  

  .logo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    margin: 10px;
  }
  
  .nombre {
    font-size: 2.5rem; /* Tamaño del texto del nombre */
    font-weight: bold;
    display: inline-block; /* Para que se alinee con el logo */
    vertical-align: middle; /* Para que se centre verticalmente con el logo */
  }

  .flex {
    padding: 10px;
  }